<ul class='sm-nav'>
  <li>
    <a href='index.html'>
      <i class='fa fa-facebook'></i>
    </a>
  </li>
  <li>
    <a href='index.html'>
      <i class='fa fa-twitter'></i>
    </a>
  </li>
  <li>
    <a href='index.html'>
      <i class='fa fa-linkedin'></i>
    </a>
  </li>
  <li>
    <a href='index.html'>
      <i class='fa fa-flickr'></i>
    </a>
  </li>
</ul>
<section class='body-content body-content-services'>
  <div class='bc-left'>
    <h1>About</h1>
  </div>
  <div class='bc-right'>
    XXX
  </div>
</section>
