<footer>
  <div class='footer-left'>
    <p>
      Site design by:
      <a href='http://www.xiri.io'>
        XIRI Media
      </a>
    </p>
  </div>
  <div class='footer-right'>
    <p class='copyright'>
      Copyright © 2017 WEST Inc
    </p>
  </div>
  <!-- Magical Spells -->
  <script src='bower_components/jquery/dist/jquery.min.js'></script>
  <script src='js/foundation.min.js'></script>
  <script src='js/application.min.js'></script>
  <script>
    $(document).foundation();
  </script>
</footer>
