<nav>
  <div class='nav-bar hide-for-small-only'>
    <div class='nav-bar-left'>
      <a href='index.html'>
        <img alt='West Canada Logo' src='svg/west_ca_logo.svg'>
      </a>
    </div>
    <div class='nav-bar-right'>
      <ul class='menu'>
        <li>
          <a class='active' href='index.html'>Home</a>
        </li>
        <li>
          <a href='careers.html'>Services</a>
        </li>
        <li>
          <a href='markets.html'>Markets</a>
        </li>
        <li>
          <a href='about.html'>About</a>
        </li>
        <li>
          <a href='careers.html'>Careers</a>
        </li>
      </ul>
    </div>
  </div>
  <div class='nav-bar show-for-small-only'>
    <a href='index.html'>
      <img alt='West Canada Logo' src='svg/west_ca_logo.svg'>
    </a>
    <ul class='menu'>
      <li>
        <a href='index.html'>Home</a>
      </li>
      <li>
        <a href='careers.html'>Services</a>
      </li>
      <li>
        <a href='markets.html'>Markets</a>
      </li>
      <li>
        <a href='about.html'>About</a>
      </li>
      <li>
        <a href='careers.html'>Careers</a>
      </li>
    </ul>
    <button class='menu-icon' data-toggle='' type='button'></button>
  </div>
</nav>
