<section id='widget-footer'>
  <div id='wf-left'>
    <div class='widget-panel'>
      <h3>
        <i class='fa fa-twitter'></i>
        Tweets by WEST
      </h3>
      <div class='widget-panel-content'>
        Tweets by WEST
      </div>
    </div>
  </div>
  <div id='wf-middle'>
    <div class='widget-panel'>
      <h3>
        <i class='fa fa-align-left'></i>
        News & Events
      </h3>
      <div class='widget-panel-content'>
        News & Events
      </div>
    </div>
  </div>
  <div id='wf-right'>
    <div class='widget-panel'>
      <h3>
        <i class='fa fa-camera-retro'></i>
        WEST Photo Stream
      </h3>
      <div class='widget-panel-content'>
        WEST Photo Stream
      </div>
    </div>
  </div>
</section>
