ul.sidebar-nav {
  float: left;
  width: 100%;

  li {
    float: left;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid $xxlight-gray;

    &.active {
      a {
        background-color: $color-secondary;
        color: white;

        &:hover {
          background-color: $color-secondary;
          color: white;
          cursor: default;

          i {
            color: $white;
          }

          strong {
            display: none;
          }
        }

        i {
          color: white;
        }
      }
    }

    a {
      float: left;
      width: 100%;
      padding: 12px $unit-md 12px $unit-xs;
      font-size: 18px;
      background-color: white;

      @include mq(lg) {
        font-size: 16px;
      }

      @include mq(md) {

      }

      @include mq(sm) {

      }

      &:hover {
        background-color: $color-tertiary;
        color: white;

        i {
          color: $black;
        }

        strong {
          display: inline;
          color: $black;
        }
      }

      i {
        margin-right: $unit-xxs;
        font-size: 18px;
        color: $color-secondary;
      }

      strong {
        display: none;
      }
    }
  }
}
