.sm-nav {
  position: relative;
  top: -41px;
  float: right;
  width: 200px;
  background: white;

  li {
    float: left;
    width: 25%;
    text-align: center;

    a {
      float: left;
      width: 100%;
      padding: 10px 20px;
      background-color: $color-tertiary-alt;
      color: $color-primary;

      &:hover {
        background-color: $color-tertiary-alt;

        @include mq(md) {
          background: $color-electric-blue;

          i {
            color: white !important;
          }
        }

        @include mq(sm) {
          background: $color-electric-blue;
          color: white;

          i {
            color: white !important;
          }
        }

        i {
          color: lighten($color-primary, 10%);
        }
      }

      i {
        font-size: 18px;
      }
    }
  }

  @include mq(md) {
    top: 0px;
    float: left;
    width: 100%;
    background: $color-tertiary;
  }

  @include mq(sm) {
    top: 0px;
    float: left;
    width: 100%;
    background: $color-tertiary;
  }
}
