.superhero {
  position: relative;;
  float: left;
  width: 100%;
  margin-top: 0;
  background-color: white;

  &.border-bottom {
    border-top: 4px solid #FFF;
    border-bottom: 2px solid #BBB;
  }

  .orbit-next, .orbit-previous {
    background-color: rgba(0, 0, 0, .3);
    color: white;

    &:hover {
      background-color: rgba(0, 0, 0, .7);
    }

    @include mq(md) {
      top: 65%;
    }

    @include mq(sm) {
      top: 65%;
    }
  }

  .orbit-next {

  }

  .orbit-previous {

  }

  .orbit-image {

  }

  strong {
    position: absolute;
    top: 22%;
    left: 100px;
    max-width: 700px;
    padding: 4px 10px;
    font-family: $font-1;
    font-size: 16px;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 2px;
    background-color: $color-secondary;
    color: white;

    //REMOVING THIS TAG FOR NOW
    display: none;


    @include mq(md) {
      display: none;
    }

    @include mq(sm) {
      display: none;
    }
  }

  figcaption {
    position: absolute;
    top: 28%;
    left: 100px;
    width: 100%;
    max-width: 700px;
    font-family: $font-1;
    font-size: 60px;
    font-weight: 300;
    line-height: 115%;
    color: white;
    text-shadow: 1px 1px 1px #000;

    &.short-title {
      top: 40%;
    }

    &.shortest-title {
      top: 30%;
    }

    @include mq(md) {
      position: relative;
      top: 0;
      left: 0px;
      max-width: none;
      padding: 8px 0px 8px 0px;
      background-color: $color-secondary;
      color: white;
      font-size: 25px;
      font-weight: 500;
      line-height: 140%;
      text-align: center;
      text-shadow: 0px 0px 0px #000;
      text-transform: uppercase;
    }

    @include mq(sm) {
      position: relative;
      top: 0;
      left: 0px;
      max-width: none;
      padding: 8px 0px 8px 0px;
      background-color: $color-secondary;
      color: white;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      text-align: center;
      text-shadow: 0px 0px 0px #000;
      text-transform: uppercase;
    }
  }

  .orbit-image {
    border-bottom: 2px solid $color-primary;
  }

  nav.orbit-bullets {
    position: relative;
    top: -50px;
  }
}
