.orbit.superhero {
  position: relative;;
  float: left;
  width: 100%;
  margin-top: 0;
  background-color: white;

  .orbit-next, .orbit-previous {
    background-color: rgba(0, 0, 0, .3);
    color: white;

    &:hover {
      background-color: rgba(0, 0, 0, .7);
    }
  }

  .orbit-next {

  }

  .orbit-previous {

  }

  .orbit-image {

  }

  .orbit-slide {
    figcaption {
      position: absolute;
      top: 28%;
      left: 100px;
      width: 100%;
      max-width: 700px;
      font-family: $font-1;
      font-size: 60px;
      font-weight: 300;
      line-height: 115%;
      color: white;
      text-shadow: 1px 1px 1px #000;

      &.short-title {
        top: 40%;
      }

      &.shortest-title {
        top: 30%;
      }
    }
  }

  nav.orbit-bullets {
    position: relative;
    top: -50px;
  }
}
