= Haml::Engine.new(File.read('./src/views/partials/contact-btn.haml')).render

.orbit.superhero{"aria-label" => "Favorite Space Pictures", "data-orbit" => "", "data-options" => "animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;", :role => "region"}
  %ul.superhero
    %li.orbit-slide
      %figcaption.short-title About West
      %img.orbit-image{:alt => "Power Lines", :src => "img/superhero_img_powerlines.jpg"}
