
/* %%%%%%%%%%%%%%%%%%%% HOME SCSS %%%%%%%%%%%%%%%%%%%% */

.body-content-home {
  position: relative;
  top: -20px;
  float: left;
  width: 100%;
  padding: 0 $unit-jumbo $unit-jumbo $unit-jumbo;

  @include mq(md) {
    padding: 0 $unit-xxs $unit-jumbo $unit-xxs;
  }

  @include mq(sm) {
    padding-left: $unit-xxs;
    padding-right: $unit-xxs;
  }

  p {
    float: left;
    width: 100%;
    margin-top: $unit-md;
  }

  .bch-left {
    float: left;
    width: 70%;
    padding: 0 $unit-jumbo $unit-jumbo $unit-jumbo;

    h1 {
      float: left;
      width: 100%;
      margin-top: $unit-xl;
      margin-bottom: $unit-xs;
      font-size: $font-size-xl;
      font-weight: 300;
      line-height: 140%;

      @include mq(md) {
        margin-top: 0;
        padding: 0 $unit-xl 10px 0;
      }

      @include mq(sm) {
        margin-top: 0;
        padding: $unit-lg $unit-lg 0 0;
        font-size: 22px;
        font-weight: 500;
      }
    }

    h2 {
      font-family: $font-2;
      font-size: 20px;
      font-weight: $font-weight-bold;
      font-style: italic;
      color: lighten($color-primary, 20%);
      line-height: 140%;

      @include mq(md) {
        margin-top: 0;
        padding: 0 $unit-lg 30px 0;
        font-size: 15px;
        font-weight: $font-weight-bold;
        font-style: italic;
        color: lighten($color-primary, 20%);
      }

      @include mq(sm) {
        margin-top: 0;
        padding: 0 $unit-lg 30px 0;
        font-size: 15px;
        font-weight: $font-weight-bold;
        font-style: italic;
        color: lighten($color-primary, 20%);
      }

    }

    @include mq(md) {
      width: 100%;
      padding: $unit-lg $unit-xl 30px $unit-xxl;
    }

    @include mq(sm) {
      width: 100%;
      padding: $unit-lg $unit-xl 30px $unit-xxl;
    }

    p.body-text {
      margin-top: 0;
      font-size: $font-size;
    }
  }

  .bch-right {
    float: left;
    width: 30%;
    padding-left: $unit-xl;
    padding-right: $unit-xl;
    border-left: 2px solid #ddd;

    @include mq(md) {
      width: 100%;
      padding: 0 0 25px 0px;
      border-left: 2px solid transparent;
    }

    @include mq(sm) {
      width: 100%;
      padding: 0 0 25px 15px;
      border-left: 2px solid transparent;
    }

    .contact-callout {
      float: left;
      width: 100%;
      padding: 0 $unit-lg $unit-md $unit-lg;
      background-color: white;

      @include mq(md) {
        padding: 0 $unit-lg $unit-xxs $unit-lg;
        border-top: 1px solid $color-tertiary;
      }

      @include mq(sm) {
        padding: 0 $unit-lg $unit-xxs $unit-lg;
        border-top: 1px solid $color-tertiary;
      }

      .btn {
        @include mq(sm) {
          font-size: 18px;
          text-align: center;
        }
      }

      h2 {
        width: 100%;
        margin-top: $unit-md;
        font-size: 24px;
        font-weight: $font-weight-semibold;
        text-transform: uppercase;

        @include mq(md) {
          padding: $unit-lg $unit-xl 0 0;
          font-size: 22px;
        }

        @include mq(sm) {
          padding: $unit-lg $unit-xl 0 0;
          font-size: 22px;

        }
      }

      p {
        float: left;
        width: 100%;
        margin-top: $unit-sm;
      }

      strong {
        float: left;
        width: 100%;
        margin-top: $unit;
        margin-bottom: $unit-lg;
        font-family: $font-2;
        font-style: italic;
        font-weight: $font-weight-bold;
      }
    }
  }
}
