
/* %%%%%%%%%%%%%%%%%%%% NEWS/EVENTS STYLES %%%%%%%%%%%%%%%%%%%% */

.news-events-container {
  position: relative;
  top: -20px;
  float: left;
  width: 100%;
  min-height: 350px;
  padding: 0 60px;

  @include mq(lg) {
    padding: 0 40px;
  }

  @include mq(md) {
    padding: 0 8px;
  }

  @include mq(sm) {
    padding: 0 8px;
  }

  .body-content-news {
    float: left;
    width: 100%;
    padding: 0 $unit-jumbo 0 $unit-jumbo;

    @include mq(lg) {
      padding: 0 $unit-md 0 $unit-md;
    }

    @include mq(md) {
      padding: 0 $unit-md 0 $unit-md;
    }

    @include mq(sm) {
      padding: 0 $unit-md 0 $unit-md;
    }

    .bc-news-left {
      float: left;
      width: 70%;
      padding: 40px $unit-jumbo $unit-jumbo 0;

      h1 {
        float: left;
        width: 100%;
        margin-top: $unit-xl;
        margin-bottom: $unit-xs;
        font-size: $font-size-xl;
        font-weight: 300;
        line-height: 145%;

        @include mq(md) {
          margin-top: 0;
          margin-bottom: $unit-md;
          font-size: $font-size-lg;
          font-weight: 500;
        }

        @include mq(sm) {
          margin-top: 10px;
          font-size: $font-size-lg;
          font-weight: 500;
        }
      }

      h2 {
        float: left;
        width: 100%;
        margin-top: $unit-xl;
        font-size: 18px;
        font-weight: $font-weight-bold;

        a {
          float: left;
          width: 100%;
          margin-bottom: 15px;
          padding-top: 8px;
          padding-bottom: 8px;
          color: lighten($color-primary, 20%);
          border-top: 1px solid lighten($color-primary, 20%);
          border-bottom: 1px solid lighten($color-primary, 20%);

          &:hover {
            cursor: pointer;
            color: lighten($color-primary, 40%);
          }
        }

        @include mq(md) {
          font-size: $font-size-md;
        }

        @include mq(sm) {
          font-size: $font-size-md;
        }
      }

      hr {
        float: left;
        width: 100%;
        display: none !important;
      }

      p {
        float: left;
        width: 100%;
        font-family: $font-2;
        line-height: 144%;
      }

      img {
        float: left;
        width: 100%;
        max-width: 400px;
        margin-top: 30px;
        border: 2px solid $color-primary;

        @include mq(sm) {
          width: 100%;
        }
      }

      @include mq(lg) {
        width: 65%;
        padding: $unit-lg $unit-sm 30px $unit-sm;
      }

      @include mq(md) {
        width: 100%;
        padding: 70px $unit-xl 30px $unit-xl;
      }

      @include mq(sm) {
        width: 100%;
        padding: 60px $unit-md 30px $unit-md;
      }

      p.body-text {
        margin-bottom: $unit-lg;
      }
    }

    .bc-news-right {
      float: left;
      width: 30%;
      padding-left: $unit-jumbo;
      padding-right: $unit-xl;
      border-left: 2px solid #ddd;

      @include mq(lg) {
        width: 35%;
        padding-left: $unit-xl;
        padding-right: $unit-lg;
      }

      @include mq(md) {
        width: 100%;
        padding: 10px 0 25px 0;
        border-top: 2px solid $color-tertiary-alt;
        border-left: 2px solid transparent;
      }

      @include mq(sm) {
        width: 100%;
        padding: 10px 10px 25px 10px;
        border-top: 2px solid $color-tertiary-alt;
        border-left: 2px solid transparent;
      }

      h3 {
        float: left;
        width: 100%;
        margin-top: $unit-lg;
        margin-bottom: $unit-md;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: $font-weight-semibold;
      }

    }
  }
}
