
/* %%%%%%%%%%%%%%%%%%%% TEAM STYLES %%%%%%%%%%%%%%%%%%%% */

.team-container {
  position: relative;
  top: -20px;
  float: left;
  width: 100%;
  min-height: 350px;
  padding: 0 20px;

  @include mq(lg) {
    padding: 0 15px;
  }

  @include mq(md) {
    padding: 0 8px;
  }

  @include mq(sm) {
    padding: 0 8px;
  }

  .body-content-team {
    float: left;
    width: 100%;
    padding: 0 $unit-jumbo 0 $unit-jumbo;

    @include mq(lg) {
      padding: 0 $unit-md 0 $unit-md;
    }

    @include mq(md) {
      padding: 0 $unit-md 0 $unit-md;
    }

    @include mq(sm) {
      padding: 0 $unit-sm 0 $unit-sm;
    }

    .bc-team-left {
      float: left;
      width: 70%;
      padding: 0 $unit-jumbo $unit-jumbo $unit-jumbo;

      h1 {
        float: left;
        width: 100%;
        margin-top: $unit-xl;
        margin-bottom: $unit-xs;
        font-size: $font-size-xl;
        font-weight: 300;
        line-height: 145%;

        @include mq(md) {
          margin-top: 0;
          margin-bottom: $unit-md;
          font-size: $font-size-lg;
          font-weight: 500;
        }

        @include mq(sm) {
          margin-top: 10px;
          font-size: $font-size-lg;
          font-weight: 500;
        }
      }

      h4 {
        margin-top: $unit-xl;
        font-size: $font-size-lg;

        @include mq(md) {
          font-size: $font-size-md;
        }

        @include mq(sm) {
          font-size: $font-size-md;
        }
      }

      .team-body-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        color: white;
        align-items: flex-start;

        p {
          display: none;
        }

        .team-profile-link {
          float: left;
          width: 25%;
          padding: 5px;

          @include mq(xl) {
            width: 33.333%;
          }

          @include mq(lg) {
            width: 50%;
          }

          @include mq(md) {
            width: 50%;
          }

          @include mq(sm) {
            width: 100%;
          }

          a.tpl--inner {
            position: relative;
            float: left;
            width: 100%;
            padding: 8px 0 8px $unit-sm;
            border: 1px solid $color-electric-blue;

            &:after {
              content: "\f061";
              float: right;
              display: inline;
              width: 25px;
              height: 25px;
              margin-top: -$unit-xl;
              color: $color-electric-blue;
              font-family: FontAwesome;
            }

            h2 {
              float: left;
              width: 100%;
              padding-top: 8px;
              margin-bottom: 4px;
              font-family: $font-1;
              font-size: 18px;
              color: $color-primary;
            }

            h3 {
              float: left;
              width: 100%;
              margin-bottom: 4px;
              padding-right: 40px;
              font-family: $font-2;
              font-size: 15px;
              font-weight: 600;
              color: darken( $color-secondary, 20%);
              font-style: italic;

              @include mq(lg) {

              }

              @include mq(md) {

              }

              @include mq(sm) {

              }
            }

            &:hover {
              background-color: $color-secondary-alt;
              color: white;
              cursor: pointer;
              text-decoration: none;

              &:after {
                color: white;
                text-decoration: none;
              }

              h2, h3 {
                color: white;
              }
            }
          }
        }
      }

      @include mq(lg) {
        width: 65%;
      }

      @include mq(md) {
        width: 100%;
        padding: $unit-lg $unit-xl 30px $unit-xxl;
      }

      @include mq(sm) {
        width: 100%;
        padding: $unit-xxl $unit-tiny 30px $unit-tiny;
      }

      p.body-text {
        margin-bottom: $unit-lg;
      }
    }

    .bc-team-right {
      float: left;
      width: 30%;
      padding-left: $unit-jumbo;
      padding-right: $unit-xl;
      border-left: 2px solid #ddd;

      @include mq(lg) {
        width: 35%;
        padding-left: $unit-xl;
        padding-right: $unit-lg;
      }

      @include mq(md) {
        width: 100%;
        padding: 10px 0 25px 0;
        border-top: 2px dotted $color-tertiary-alt;
        border-left: 2px solid transparent;
      }

      @include mq(sm) {
        width: 100%;
        padding: 10px 0 25px 0;
        border-top: 2px dotted $color-tertiary-alt;
        border-left: 2px solid transparent;
      }

      h3 {
        float: left;
        width: 100%;
        margin-top: $unit-lg;
        margin-bottom: $unit-md;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: $font-weight-semibold;
      }
    }
  }
}

// left side of mini profile card
.mini-profile-pic {
  float: left;
  width: 60px;
  overflow: hidden;

  img {
    width: 100%;
    max-width: 50px;
    border: 0px !important;
  }
}

// right side of mini profile card
.mini-profile-content {
  float: left;
  width: calc(100% - 60px);
}
