= Haml::Engine.new(File.read('./src/views/partials/sm-nav.haml')).render

%section.body-content.body-content-markets
  .bcm-left
    %h1 Markets

    %p.body-text
      WEST provides environmental and statistical consulting services and contract research
      throughout Canada and internationally to industry, government, and private organizations.
      We offer clients a unique combination of field ecology and statistics to help solve on-going
      and contemporary natural resource problems.

    %p.body-text
      Through the use of state-of-the-art statistical principles in the design, conduct and analysis
      of ecological field studies, WEST specializes in a common sense, defensible, and professional approach to the solution of natural resource problems. WEST’s expert ecologists and biometricians have broad experience in basic and applied ecological studies and the sophisticated
      analysis of natural resource data.

  .bcm-right
    = Haml::Engine.new(File.read('./src/views/partials/sidebar-nav-markets.haml')).render
