<!DOCTYPE>
%html
  %head
    %meta{:charset => "UTF-8"}
      %title My App
      %meta{:content => "WEST Canada", :name => "description"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
      %link{:href => "img/favicon.ico", :rel => "shortcut icon"}
      %link{:href => "css/foundation.min.css", :rel => "stylesheet"}
      %link{:href => "css/application.min.css", :rel => "stylesheet"}

  %body
    %header
      / Sub Navigation
      .top-bar
        .top-bar-left
          %ul.menu
            %li
              %a{:href => "#"} One
            %li
              %a{:href => "#"} Two
            %li
              %a{:href => "#"} Three
            %li
              %a{:href => "#"} Four
        .top-bar-right
          %ul.menu
            %li
              %input{:placeholder => "Search", :type => "search"}/
            %li
              %button.button{:type => "button"} Search
      / /Sub Navigation
      / logo and ad break

      .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "main-menu"}
        %button.menu-icon{"data-toggle" => "", :type => "button"}
        .title-bar-title Menu
 
      / #main-menu.top-bar
      /   %ul.menu.vertical.medium-horizontal.expanded.medium-text-center{"data-responsive-menu" => "drilldown medium-dropdown"}
      /     %li.has-submenu
      /       %a{:href => "#"} Tech
      /       %ul.submenu.menu.vertical{"data-submenu" => ""}
      /         %li
      /           %a{:href => "#"} One
      /         %li
      /           %a{:href => "#"} Two
      /         %li
      /           %a{:href => "#"} Three
      /     %li.has-submenu
      /       %a{:href => "#"} Energy
      /       %ul.submenu.menu.vertical{"data-submenu" => ""}
      /         %li
      /           %a{:href => "#"} One
      /         %li
      /           %a{:href => "#"} Two
      /         %li
      /           %a{:href => "#"} Three
      /     %li.has-submenu
      /       %a{:href => "#"} Space
      /       %ul.submenu.menu.vertical{"data-submenu" => ""}
      /         %li
      /           %a{:href => "#"} One
      /         %li
      /           %a{:href => "#"} Two
      /         %li
      /           %a{:href => "#"} Three
      /     %li.has-submenu
      /       %a{:href => "#"} Medicine
      /       %ul.submenu.menu.vertical{"data-submenu" => ""}
      /         %li
      /           %a{:href => "#"} One
      /         %li
      /           %a{:href => "#"} Two
      /         %li
      /           %a{:href => "#"} Three
      /     %li.has-submenu
      /       %a{:href => "#"} Robotics
      /       %ul.submenu.menu.vertical{"data-submenu" => ""}
      /         %li
      /           %a{:href => "#"} One
      /         %li
      /           %a{:href => "#"} Two
      /         %li
      /           %a{:href => "#"} Three
      /     %li.has-submenu
      /       %a{:href => "#"} Tesla
      /       %ul.submenu.menu.vertical{"data-submenu" => ""}
      /         %li
      /           %a{:href => "#"} One
      /         %li
      /           %a{:href => "#"} Two
      /         %li
      /           %a{:href => "#"} Three

  %footer
 
    .row.expanded
      .medium-6.columns
        %ul.menu
          %li
            %a{:href => "#"} Legal
          %li
            %a{:href => "#"} Partner
          %li
            %a{:href => "#"} Explore
      .medium-6.columns
        %ul.menu.align-right
          %li.menu-text Copyright © 2017 WEST Inc



    / Magical Spells
    %script{:src => "bower_components/jquery/dist/jquery.min.js"}
    %script{:src => "js/foundation.min.js"}
    %script{:src => "js/application.min.js"}

    :javascript
      $(document).foundation();

