<!DOCTYPE>
%html
  %head
    %meta{:charset => "UTF-8"}
    %title My App
    %meta{:content => "WEST Canada", :name => "description"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %link{:href => "img/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "css/foundation.min.css", :rel => "stylesheet"}
    %link{:href => "css/application.min.css", :rel => "stylesheet"}

  %body
    = Haml::Engine.new(File.read('./src/views/partials/header.haml')).render
    = Haml::Engine.new(File.read('./src/views/partials/body.haml')).render
    = Haml::Engine.new(File.read('./src/views/partials/footer.haml')).render
