%h3 Imported: Footer Partial

.row.expanded
  .medium-6.columns
    %ul.menu
      %li
        %a{:href => "#"} Legal
      %li
        %a{:href => "#"} Partner
      %li
        %a{:href => "#"} Explore
  .medium-6.columns
    %ul.menu.align-right
      %li.menu-text Copyright © 2017 WEST Inc

  / Magical Spells
  %script{:src => "bower_components/jquery/dist/jquery.min.js"}
  %script{:src => "js/foundation.min.js"}
  %script{:src => "js/application.min.js"}

  :javascript
    $(document).foundation();
