%nav
  .nav-bar.hide-for-small-only
    .nav-bar-left
      %a{:href => "index.html"}
        %img{:alt => "West Canada Logo", :src => "svg/west_ca_logo.svg"}

    .nav-bar-right
      %ul.menu
        %li
          %a.active{:href => "index.html"} Home
        %li
          %a{:href => "services.html"} Services
        %li
          %a{:href => "markets.html"} Markets
        %li
          %a{:href => "about.html"} About
        %li
          %a{:href => "careers.html"} Careers

  .nav-bar.show-for-small-only
    %a{:href => "index.html"}
      %img{:alt => "West Canada Logo", :src => "svg/west_ca_logo.svg"}

    %ul.menu
      %li
        %a{:href => "index.html"} Home
      %li
        %a{:href => "services.html"} Services
      %li
        %a{:href => "markets.html"} Markets
      %li
        %a{:href => "about.html"} About
      %li
        %a{:href => "careers.html"} Careers

    %button.menu-icon{"data-toggle" => "", :type => "button"}
