%h3 Our Markets

%ul.sidebar-nav
  %li.active
    %a{:href => "bat-research-monitoring.html"}
      %i.fa.fa-arrow-right
      %strong OPEN :
      Energy
  %li
    %a{:href => "big-game-research-and-monitoring.html"}
      %i.fa.fa-arrow-right
      %strong OPEN :
      Infrastructure
  %li
    %a{:href => "index.html"}
      %i.fa.fa-arrow-right
      %strong OPEN :
      Government
