%h3 Our Services

%ul.sidebar-nav
  %li.active
    %a{:href => "services.html"}
      %i.fa.fa-arrow-right
      %strong OPEN :
      Avian Species Research & Management
  %li
    %a{:href => "bat-research-monitoring.html"}
      %i.fa.fa-arrow-right
      %strong OPEN :
      Bat Research & Monitoring
  %li
    %a{:href => "big-game-research-and-monitoring.html"}
      %i.fa.fa-arrow-right
      %strong OPEN :
      Big Game Research & Monitoring
  %li
    %a{:href => "index.html"}
      %i.fa.fa-arrow-right
      %strong OPEN :
      Statistics & Biometrics
  %li
    %a{:href => "index.html"}
      %i.fa.fa-arrow-right
      %strong OPEN :
      Wildlife Research & Management
