%ul.sm-nav
  %li
    %a{:href => "index.html"}
      %i.fa.fa-facebook
  %li
    %a{:href => "index.html"}
      %i.fa.fa-twitter
  %li
    %a{:href => "index.html"}
      %i.fa.fa-linkedin
  %li
    %a{:href => "index.html"}
      %i.fa.fa-flickr
