%section#widget-footer
  #wf-left
    .widget-panel
      %h3
        %i.fa.fa-twitter
        Tweets by WEST
      .widget-panel-content
        Tweets by WEST

  #wf-middle
    .widget-panel
      %h3
        %i.fa.fa-align-left
        News & Events
      .widget-panel-content
        News & Events

  #wf-right
    .widget-panel
      %h3
        %i.fa.fa-camera-retro
        WEST Photo Stream
      .widget-panel-content
        WEST Photo Stream
