
/* %%%%%%%%%%%%%%%%%%%% GLOBAL SASS VARS %%%%%%%%%%%%%%%%%%%% */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,100,500,500italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

/* ==========================================================================
   %% Typography Variables %%
   ========================================================================== */

//global font varaibles
$base-line-height: 1.3rem;

// font weights
$font-weight-xlight:   200;
$font-weight-light:    300;
$font-weight-normal:   400;
$font-weight-semibold: 500;
$font-weight-bold:     600;
$font-weight-ultra:    800;

//font sizes
$font-size-tiny:       .5rem;   //8px
$font-size-xxs:        .625rem; //10px
$font-size-xs:         .75rem;  //12px
$font-size-sm:         .875rem; //14px
$font-size:            1rem;    //16px (base)
$font-size-md:         1.25rem; //20px
$font-size-lg:         1.5rem;  //24px
$font-size-xl:         2rem;    //32px
$font-size-xxl:        3rem;    //48px
$font-size-jumbo:      4rem;    //64px

//Font Family Variables

//custom font family
$font-1: 'Roboto', sans-serif;

//base san-serif font family
$font-2: Arial, 'Helvetica Neue', Helvetica, sans-serif;

//secondary custom font family
$font-3: 'Roboto Slab', serif;

//often used for code blocks
$font-4: "Courier New", Courier, monospace;

$body-text: $font-size;
$body-text-small: $font-size-sm;
$body-text-large: $font-size-lg;


/* ==========================================================================
   %% Headers h1,h2,h3,h4,h5,h6 %%
   ========================================================================== */

$h1-size: 2.6rem;
$h2-size: 2.2rem;
$h3-size: 1.6rem;
$h4-size: 1.5rem;
$h5-size: 1.4rem;
$h6-size: 1.2rem;


/* ==========================================================================
   %% Spacing Units %%
   ========================================================================== */

$base-unit: 1rem;                 //16px
$half-base-unit: $base-unit / 2;  //8px

$unit-tiny:   .125rem;            //2px
$unit-xxs:    .3125rem;           //5px
$unit-xs:     .625rem;            //10px
$unit-sm:     .9375rem;           //15px
$unit:        $base-unit;         //16px (base)
$unit-md:     1.25rem;            //20px
$unit-lg:     1.563rem;           //25px
$unit-xl:     1.875rem;           //30px
$unit-xxl:    2.5rem;             //40px
$unit-jumbo:  3.125rem;           //50px


/* ==========================================================================
   %% Border Radius %%
   ========================================================================== */

$border-radius: 0;


/* ==========================================================================
   %% Global Color Palette %%
   ========================================================================== */

// Generic monochrome colors
$none:                transparent;
$white:               #ffffff;
$off-white:           #f4f4f4;
$xxlight-gray:        #dddddd;
$xlight-gray:         #cccccc;
$light-gray:          #bbbbbb;
$gray:                #999999;
$medium-gray:         #777777;
$dark-gray:           #444755;
$xdark-gray:          #333333;
$xxdark-gray:         #222222;
$xxxdark-gray:        #111111;
$black:               #000000;

$color-primary:       #101d30;
$color-secondary:     #577d24;
$color-secondary-alt: lighten($color-secondary, 10%);
$color-tertiary:      #8c9da7;
$color-tertiary-alt:  #acd1e3;
$color-tertiary-alt2: #5f7a8c;

$color-electric-blue: $color-secondary;
$color-electric-blue-original: #00aeef;

$link:              $color-secondary;
$text:              $xdark-gray;


/* ==========================================================================
   %% Button Variables %%
   ========================================================================== */

$button-primary:   $color-primary;
$button-secondary: $color-secondary;

$site-background: $white;

/* ==========================================================================
   %% Form Variables %%
   ========================================================================== */

$form-focus: $xlight-gray;

/* ==========================================================================
   %% Media Query Variables %%
   ========================================================================== */

// small range (0px --> 640px) ==> Good for mobile devices
$sm-start:   0px;
$sm-end:     640px;

// medium range (640px --> 1024px) ==> Good for tablet devices
$md-start:  640px;
$md-end:    1024px;

// large range (1025px --> 1440px) ==> Good for portable & laptop devices
$lg-start:   1025px;
$lg-end:     1440px;

// xlarge range (1441px --> 1992px)  ==> Good for large screens & desktop
$xl-start:  90.1441px;
$xl-end:    1992px;

// jumbo range (1993px --> up)  ==> Good for everything above large screens & desktop
$jumbo-start:  1993px;

// Always declare site background fallback
$site-background: $white;

// If you have to support IE8
$support-legacy: true;
