<a class='btn contact-btn-callout' href='contact.html'>
  <i class='fa fa-phone'></i>
  Contact Us
</a>
<div aria-label='Favorite Space Pictures' class='orbit superhero' data-options='animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;' data-orbit='' role='region'>
  <ul class='superhero'>
    <li class='orbit-slide'>
      <strong>OUR SERVICES</strong>
      <figcaption class='shortest-title'>Avian Species Research and Management</figcaption>
      <img alt='Avian Species Research and Management' class='orbit-image' src='img/superhero_img_services_avian.jpg'>
    </li>
  </ul>
</div>
