<a class='btn contact-btn-callout hide-for-small-only' href='contact.html'>
  <i class='fa fa-phone'></i>
  Contact Us
</a>
<div aria-label='Favorite Space Pictures' class='orbit superhero' data-options='animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;' data-orbit='' role='region'>
  <ul class='orbit-container'>
    <button class='orbit-previous'>
      <span class='show-for-sr'>Previous Slide</span>
      <i class='fa fa-arrow-left'></i>
    </button>
    <button class='orbit-next'>
      <span class='show-for-sr'>Next Slide</span>
      <i class='fa fa-arrow-right'></i>
    </button>
    <li class='is-active orbit-slide'>
      <strong>WELCOME TO WEST</strong>
      <figcaption>Avian Species Research and Management</figcaption>
      <img alt='Eagle' class='orbit-image' src='img/superhero_img_eagle.jpg'>
    </li>
    <li class='orbit-slide'>
      <strong>WELCOME TO WEST</strong>
      <figcaption>Big Game Research and Monitoring</figcaption>
      <img alt='Eagle' class='orbit-image' src='img/superhero_img_bear_on_tree.jpg'>
    </li>
    <li class='orbit-slide'>
      <strong>WELCOME TO WEST</strong>
      <figcaption class='short-title'>Renewable Energy</figcaption>
      <img alt='Power Lines' class='orbit-image' src='img/superhero_img_powerlines.jpg'>
    </li>
    <li class='orbit-slide'>
      <strong>WELCOME TO WEST</strong>
      <figcaption class='short-title'>Statistics and Biometrics</figcaption>
      <img alt='Stats' class='orbit-image' src='img/superhero_img_stats.jpg'>
    </li>
    <li class='orbit-slide'>
      <strong>WELCOME TO WEST</strong>
      <figcaption class='short-title'>Utilities</figcaption>
      <img alt='Power Lines' class='orbit-image' src='img/superhero_img_powerlines.jpg'>
    </li>
  </ul>
</div>
